body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f5f5f5;
}

header {
    border-bottom: none;
}

.header-container {
    width: 100%;
    padding:10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header,
.content {
    margin: 0;
    padding: 0;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-icon{
    width: 40px;
    height: 40px;
    background-color: #3b82f6;
    border-radius: 8px;
    margin-right: 10px;
    box-shadow: 3px 3px 10px #000;
}

.logo-text {
    font-size: 24px;
    color: #3b82f6;
    margin: 0;
}

.search-container {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    justify-content: flex-end;
    border-radius: 8px;
    margin-left: auto;
    margin: 20px;
}

.search-field {
    margin-left: 10px;
}

.search-field::before {
    content: "";
    width: 16px;
    height: 16px;
    background: url(./icon.png) no-repeat center center / auto 100%;
    display: inline-block;
    position: absolute;
    top: 4px;
    left: 5px;
}

.search-field input {
    padding: 3px 0 3px 2em;
}

/*レスポンシブデザイン*/
@media (max-width: 768px) {
    .header-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .logo-text {
        font-size: 20px;
    }

    .content {
        padding: 10px;
    }

    .shop-detail img {
        width: 100%;
    }

    .reservation-form {
        margin-top: 20px;
    }

    .search-container {
        flex-direction: column;
        align-items: stretch;
    }

    .search-field {
        width: 100%;
        margin-bottom: 10px;
    }

    .shop-list {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    .shop-item {
        margin-bottom: 20px;
    }

    .done-message,
    .register-form,
    .login-form,
    .thanks-box {
        padding: 10px;
    }

    .menu-container ul {
        padding: 0;
    }

    .menu-container ul li {
        margin: 10px 0;
    }

    .mypage .content-wrapper {
        display: flex;
        flex-direction: column;
    }

    .reservation-card,
    .favorite-card {
        width: 100%;
    }
}

.header-logo {
    color: #007bff;
    display: flex;
    align-items: center;
}

li {
    list-style: none;
}

.menu ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.menu a {
    text-decoration: none;
    color: #007bff;
    font-size: 18px;
}

/*home.blade.php*/
.shop-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.shop-item {
    width: 23%;
    margin: 15px 0;
    text-align: center;
    border: 1px solid #ddd;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

.shop-item img {
    max-width: 100%;
    height: auto;
}

.shop-item h3 {
    margin: 10px 0;
}

.shop-item p {
    margin: 5px 0;
}

.detail-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.favorite-button {
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.favorite {
    font-size: 24px;
    color: gray;
}

.favorite.active {
    color: pink;
}

/*detail.blade.php*/

.shop-detail {
    padding: 20px;
}

.shop-content {
    display: flex;
    justify-content: space-between;
}

.shop-info,
.reservation-form {
    background-color: #fff;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.shop-info {
    width: 50%;
}

.shop-info h1 {
    margin-top: 0;
    width: 50%;
}

.shop-info img {
    width: 100%;
    height: auto;
    margin: 20px 0;
}

.review-form,
.review-list {
    display: flex;
    margin-top: 20px;
}

.review-form label,
.review-form select,
.review-form textarea {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.review-form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.review-item {
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.reservation-form {
    width: 35%;
    background-color: #007bff;
    color: #fff;
    padding: 20px;
    border-radius: 4px;
}

.reservation-form h2 {
    margin-top: 0;
}

.reservation-form label {
    display: block;
    margin: 10px 0;
}

.reservation-form input,
.reservation-form button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
}

.reservation-form button {
    background-color: #fff;
    color: #007bff;
    cursor: pointer;
}

.flash_message {
    background-color: #d4edda;
    color: #155724;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #c3e6cb;
    border-radius: 4px;
}

/*done.blade.php*/
.done-message {
    text-align: center;
    padding: 50px;
}

.done-message p {
    font-size: 24px;
    margin-bottom: 20px;
}

.done-message button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

/*register.blade.php*/
.register-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #fff;
}

.register-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.register-form label {
    display: block;
    margin-bottom: 10px;
}

.register-form input {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 5px 0;
}

.register-form button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

/*thanks.blade.php*/
.thanks-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.thanks-message {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.thanks-message p {
    font-size: 18px;
    margin-bottom: 20px;
}

.thanks-button {
    background-color: #3b82f6;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}

.thanks-button:hover {
    background-color: #2563ed;
}

/*login.blade.php*/
.login-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #fff;
}

.login-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.login-form label {
    display: block;
    margin-bottom: 10px;
}

.login-form input {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 5px 0;
}

.login-form button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

/*mypage.blade.php*/
.mypage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.reservations,
.favorites {
    width: 45%;
}

.favorite-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.reservation-card,
.favorite-card {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.favorite-card img {
    size: 100px;
}

.reservation-info p,
.favorite-card p {
    margin: 10px 0;
}

.cancel-button {
    background-color: #3b82f6;
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 50%;
    cursor: pointer;
}

.cancel-button:hover {
    background-color: #cc0000;
}

.favorite-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.favorite-item {
    width: 23%;
    margin: 15px 0;
    text-align: center;
    border: 1px solid #ddd;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

.favorite-item img {
    max-width: 100%;
    height: auto;
}

.favorite-item h3 {
    margin: 10px 0;
}

.favorite-item p {
    margin: 5px 0;
}

.favorite-item button {
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

/*menu.blade.php start*/
.menu-container {
    text-align: center;
    padding-top: 20px;
}

.menu-container form {
    padding-bottom: 20px;
    border: none;
}

.menu-container button {
    height: 80px;
    width: 80px;
    background: none;
    border: none;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.menu-container p {
    font-size: 40px;
    align-items: center;
}

/*payment.blade.php*/
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.payment-form-container {
    padding: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.input-field {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

.error-text {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
}

.success-message {
    color: green;
    font-size: 1em;
    text-align: center;
}

.error-message {
    color: red;
    font-size: 1em;
    text-align: center;
}

.submit-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #0056b3;
}